.shops .shops-header {
    margin: 50px auto;
    /* padding: 50px 0; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.shops .shops-header .shops-title {
    width: 60%;
}

.shops .shops-header .shops-header-image {
    width: 35%;
    object-fit: cover;
}

.shops .shops-header .shops-header-image img {
    width: 100%;
}

.shops .shops-top-filter {
    display: flex;
}

.shops .shops-top-filter .shops-top-filter-search-input {
    width: 22%;
}

.shops .shops-top-filter .shops-top-filter-search-input input {
    width: 80%;
    height: 40px;
    border: 1px solid rgba(184, 180, 180, 0.7);
    border-radius: 10px;
    padding-left: 10px;
}

.shops .shops-top-filter .shops-top-filter-search-input input::placeholder {
    font-size: 14px;
    color: rgba(184, 180, 180, 0.7);
}

.shops .shops-top-filter .shops-top-filter-by-country {
    width: 70%;
}

.shops .shops-top-filter .shops-top-filter-by-country .countries {
    display: flex;
    justify-content: space-between;
}

.shops .shops-top-filter .shops-top-filter-by-country .countries .country {
    width: 100px;
    height: 50px;
}

.shops .shops-top-filter .shops-top-filter-by-country .countries .country .filter-country-content {
    display: flex;
}

.shops .shops-top-filter .shops-top-filter-by-country .countries .country .filter-country-content img {
    width: 20px;
}