.shops-page {
  width: 85%;
  margin: 0 auto;
}

.shops-page .heading {
  text-align: left;
}

.shops-page .heading i {
  display: none;
}
.shops-page .heading h2 {
  font-size: 3rem;
  margin: 0.9rem 0;
}
.shops-page .heading p {
  font-size: 1.5rem;
  font-weight: bolder;
}
.shops-page .shops-page-header {
  margin: 40px auto;
  /* padding: 50px 0; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.shops-page .shops-page-header .shops-header-title {
  width: 55%;
}

.shops-page .shops-page-header .shops-header-image {
  width: 30%;
  object-fit: cover;
}

.shops-page .shops-page-header .shops-header-image img {
  width: 100%;
}

.shops-page .shops-top-filter {
  display: flex;
}

.shops-page .shops-top-filter .shops-top-filter-search-input {
  width: 22%;
}

.shops-page .shops-top-filter .shops-top-filter-search-input input {
  width: 80%;
  height: 40px;
  border: 1px solid rgba(184, 180, 180, 0.7);
  border-radius: 10px;
  padding-left: 10px;
}

.shops-page
  .shops-top-filter
  .shops-top-filter-search-input
  input::placeholder {
  font-size: 14px;
  color: rgba(184, 180, 180, 0.7);
}

.shops-page .shops-top-filter .shops-top-filter-by-country {
  width: 70%;
}

.shops-page .shops-top-filter .shops-top-filter-by-country .countries {
  display: flex;
  justify-content: space-between;
}

.shops-page .shops-top-filter .shops-top-filter-by-country .countries .country {
  height: 50px;
  list-style-type: none;
}

.shops-page
  .shops-top-filter
  .shops-top-filter-by-country
  .countries
  .country
  .filter-country-content {
  display: flex;
  color: black;
}

.shops-page
  .shops-top-filter
  .shops-top-filter-by-country
  .countries
  .country
  .filter-country-content
  img {
  height: 20px;
  padding: 0 0.3rem;
}
.shops-page
  .shops-top-filter
  .shops-top-filter-by-country
  .countries
  .country
  .filter-country-content
  i {
  color: var(--greenColor);
  font-size: 1.4rem;
}
.shops-page
  .shops-top-filter
  .shops-top-filter-by-country
  .countries
  .country
  .filter-country-content
  span {
  margin: 0 0.4rem;
}
.shops-page
  .shops-top-filter
  .shops-top-filter-by-country
  .countries
  .country
  .filter-country-content
  span:hover {
  color: var(--greenColor);
}
.shops-page .content {
  display: flex;
}
