.smartServices {
  width: 85%;
  height: 740px;
  background-color: white;
  border: 1px solid rgb(218, 212, 212);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 50px auto;
  padding: 50px;
}

.smart-services-section {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 5rem;
}

.smart-services-section .smart-services-image {
  width: 45%;
  object-fit: cover;
}

.smart-services-section .smart-services-image img {
  width: 100%;
}

.smart-services-section .smart-services-content {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5rem;
}

.smart-services-section .smart-services-content p span {
  margin-left: 0.5rem;
}
.smart-services-section .smart-services-content p img {
  width: 2rem;
  margin-top: 8px;
}
