.heading .stars i {
  color: var(--greenColor);
  margin: 3px;
}

.heading .stars .middle {
  font-size: 14px;
}

.heading .stars .small {
  font-size: 11px;
}

.heading h2 {
  font-size: 36px;
  margin: 20px;
  font-family: 'montserratarm-bold';
  letter-spacing: .1px;
}

.heading h2 span {
  font-family: 'montserratarm-bold';
  
}

.heading p {
  margin-bottom: 60px;
  font-size: 14px;
  font-family: 'montserratarm-light';
}

.heading span {
  color: var(--greenColor);
}
