.export {
  width: 85%;
  height: auto;

  margin: 50px auto;
  padding: 50px;
}

.export .export-areas {
  display: flex;
  justify-content: space-between;
}

.export .export-areas .export-one-area {
  width: 32%;
  background-color: white;
  border: 1px solid #f2f4fb;;
  box-shadow:0 1px 4px 0 rgb(46 61 73 / 10%);
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 1.3rem .3rem;
}

.export .export-areas .export-one-area a {
  color: black;
  font-size: 18px;
  font-family: 'montserratarm';
}
.export .export-areas .export-one-area a:hover {
  color: var(--greenColor);
}
.export .export-areas .export-one-area img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  padding: 1rem;
  text-align: center;
}

/* MEDIA  */

@media (max-width : 1120px) {
  /* .export .export-areas .export-one-area a p{
    color: black;
    font-size: 14px;
    font-family: 'montserratarm';
  } */

  .export {
    width: 90%;
    height: auto;
  
    margin: 30px auto;
    padding: 30px;
  }

  .export .export-areas .export-one-area a p{
    color: black;
    font-size: 18px;
    font-family: 'montserratarm';
  }
}

@media (max-width : 1020px) {
  .export {
    width: 90%;
    height: auto;
  
    margin: 30px auto;
    padding: 30px;
  }

  .export .export-areas .export-one-area a p{
    color: black;
    font-size: 14px;
    font-family: 'montserratarm';
  }
}

@media (max-width : 980px) {

  .export .export-areas {
    /* margin: 0 auto; */
    justify-content :center;
  }

  .export .export-areas .export-one-area {
    width: 80%;
    margin-bottom: 30px;
  }

  .export .export-areas {
    flex-wrap: wrap;
  }

  .export .export-areas .export-one-area img {
    height: auto;
    margin-bottom: 20px;
    padding: 1rem;
    text-align: center;
  }

  .export .export-areas .export-one-area a p{
    color: black;
    font-size: 18px;
    font-family: 'montserratarm';
  }
}

@media (max-width : 580px) {
  .export .export-areas .export-one-area a p{
    font-size: 16px;
  }
}

@media (max-width : 480px) {
  .export .export-areas .export-one-area a p{
    padding: 0 20px;
  }

  .export .export-areas .export-one-area {
    width: 95%;
    margin-bottom: 20px;
  }

}