.register .register-content .register-form input {
    width: 500px;
    border: 1px solid rgba(119, 119, 119, 0.178);
    padding: 1.1rem 1rem;
    border-radius: 0.6rem;
    margin-top: 1.4rem;
    background-color: white;
    color: #777
}

.register .register-content .register-form input:focus {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.register .register-content .register-form input::placeholder {
    font-size: 1rem;
    color: rgba(153, 153, 153, 0.575);
}

.formInput span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.formInput input:invalid[focused="true"]{
    border: 1px solid red;
}

.formInput input:invalid[focused="true"] ~ span{
    display: block;
}

