.smart-locker {
  width: 85%;
  /* height: 450px; */
  border-radius: 20px;
  margin: 50px auto;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 4px 0 rgb(46 61 73 / 10%);
  background-color: white;
  border: 1px solid #f2f4fb;
}

.smart-locker .stars {
  display: none;
}

.smart-locker-video {
  width: 45%;
  /* height: 300px; */
  margin-right: 6rem;
  /* position: relative; */
  /* top: 0; */
  /* left: 0; */
}
.smart-locker-video iframe {
  border-radius: 1.4rem;
}

.smart-locker-video .image {
  border: 0.3px solid rgba(0, 0, 0, 0.1);
  width: 560px;
  height: 315px;
  border-radius: 1.4rem;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("./SmartLocker_img/locker.jpg");
}

.smart-locker-content {
  width: 40%;
}

.smart-locker-content p {
  text-align: left;
  margin-left: 20px;
  line-height: 20px;
  font-family: "montserratarm-light";
  color: #222;
}

.smart-locker .main-button {
  text-align: left !important;
  display: block;
  margin-left: 20px;
  margin-top: -20px;
}

.smart-locker h2 {
  font-size: 42px;
  color: var(--greenColor);
  text-align: left;
  /* display: inline-block; */
}

.smart-locker h2 span {
  color: black;
}


/* MEDIA  */

@media (max-width : 1326px) {
  .smart-locker-video {
    width: 100%;
    /* margin-right: none; */
    margin: 0 auto;
  }

  .smart-locker-video iframe{
    width: 100%;
  }

  .smart-locker-content {
    width: 100%;
  }

  .smart-locker {
    flex-wrap: wrap;
    align-items : center;
    padding: 50px 100px;
  }

  .smart-locker button {
    margin: 30px 0;
  }

  .smart-locker .heading h2 {
    margin: 0;
  }

  .smart-locker .heading p {
    margin: 20px 0;
  }

  .smart-locker .main-button {
    margin-left: 0;
    margin-top: 0;
  }

  
}

@media (max-width : 920px) {
  .smart-locker {
    padding: 40px;
  }

  /* .smart-wall .smart-wall-content .heading h2 {
    margin: 0;
  } */
}



@media (max-width : 690px) {
/* 
  .smart-wall .smart-wall-video {
    margin-top: -30px;
  } */

  .smart-locker .smart-locker-content .heading h2 {
    font-size: 36px;
  }
}

@media (max-width : 600px) {
/* 
  .smart-wall .smart-wall-video {
    margin-top: -30px;
  } */

  .smart-locker .smart-locker-content .heading h2 {
    font-size: 36px;
  }

  .smart-locker .smart-locker-video iframe{
    height: 200px;
  }
}

@media (max-width : 400px) {
  .smart-locker .smart-locker-content .heading h2 {
    font-size: 32px;
  }

  .smart-locker .smart-locker-video iframe{
    height: 180px;
  }
}

@media (max-width : 360px) {
  .smart-locker .smart-locker-content .heading h2 {
    font-size: 28px;
  }
}


@media (max-width : 333px) {
  .smart-locker .smart-locker-content .heading h2 {
    font-size: 24px;
  }
}
