.famous-shops .heading {
  width: 85%;
  margin: 0% auto;

}

.famous-shops button {
  margin-bottom: 30px;

  /* margin: 0 auto; */
}

.famous-shops .shops {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.famous-shops .shops .shop-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.famous-shops .shops .shop-logos .shop-logo {
  width: 15%;
  height: 80px;
  border: 1px solid rgba(191, 191, 191, 0.135);
  display: flex;
  align-items: center;
  justify-content: center;
}
.famous-shops .shops .shop-logos .shop-logo a img {
  width: 200px;
  height: 60px;
  padding: 0.5rem 3rem;
  object-fit: contain;
}



/* MEDIA  */

@media (max-width : 1024px) {
  .famous-shops .shops .shop-logos .shop-logo{
    width: 30%;
  }

  .famous-shops .shops {
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }

  .famous-shops button {
    width: 28%;
    padding: 15px;
  }
}

@media (max-width : 700px) {
  .famous-shops .shops .shop-logos .shop-logo{
    width: 45%;
  }

  .famous-shops .shops {
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }

  .famous-shops button {
    width: 30%;
    padding: 15px;
  }
}

@media (max-width : 613px) {
  .famous-shops button {
    width: 32%;
  }
}

@media (max-width : 574px) {
  .famous-shops button {
    width: 33%;
    padding: 20px 0px;
  }
}

@media (max-width : 509px) {
  .famous-shops button {
    width: 60%;
    padding: 20px 0px;
  }
}
/* .famous-shops .shops .shop-logo {
    width: 50px;
    height: 50px;
} */
