
.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);

  }
  
  .navbar a {
    font-family: "montserratarm";
    float: left;
    font-size: 13px;
    color: #333;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    /* height: 63px; */
    padding: 20px 16px;
    /* background-color: red; */
    box-sizing: border-box;
    outline: none;
  }

  .navbar .link {
    height: 63px;
    box-sizing: border-box;
  }

  .navbar .link:hover {
    border-top: 2px solid var(--greenColor);
    height: 62px;

  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-family: "montserratarm-light";
    font-size: 13px;  
    /* border: none; */
    outline: none;
    color: #333;
    height: 63px;
    padding: 20px 16px;
    /* padding: 1.5rem .5rem; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
  }

  .dropdown .dropbtn:hover {
    border-top: 2px solid var(--greenColor);
    height: 62px;
  }

  
  /* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 2px solid var(--greenColor);
  }
  
  .dropdown-content a:hover{
    color: var(--greenColor);
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    height: 40px;

    display: flex;
    align-items: center;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(251, 251, 251);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content img {
    width: 24px;
    margin-right: 10px;
  }

  