.tracking {
  width: 85%;
  height: 350px;
  background-color: #f9f9f8;
  border: 1px solid #f2f4fb;
  border-radius: 20px;
  margin: 50px auto;
  padding: 50px;
}

.tracking .trackInput input {
  width: 800px;
  height: 50px;
  border: 1px solid rgb(218, 212, 212);
  border-radius: 10px 0px 0px 10px;
  padding: 0 1rem;
}

.tracking .trackInput input::placeholder {
  color: rgba(153, 153, 153, 0.392);
  font-size: 1.1rem;
}
.tracking .trackInput a{
  color: white;
  cursor: pointer;
  display: block;
  height: 50px;
  width: 6rem;
  background-color: var(--greenColor);
  border-radius: 0px 10px 10px 0px;
  font-size: 14px;
  padding: 1rem 0;
}

.tracking .trackInput a i {
  margin-right: 5px;
}

.tracking .trackInput a span {
  font-family: 'montserratarm-bold' !important;
}


form {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* MEDIA  */

@media (max-width: 1160px) {
  .tracking .trackInput input {
    width: 65vw;
  }

}

@media (max-width: 1088px) {
  .tracking .trackInput input {
    width: 700px;
  }
}

@media (max-width: 1024px) {
  .tracking .trackInput input {
    width: 65vw;
  }

  .tracking .trackInput a span {
    display: none;
  }

  .tracking .trackInput a {
    width: 3rem;
  }

  .tracking .trackInput a i {
    margin-right: none;
    margin-left: 5px;
  }
}


@media (max-width: 782px) {
  .tracking .heading h2 {
    font-size: 32px;
  }

  .tracking .heading p {
    font-size: 14px;
  }
}

@media (max-width: 644px) {
  .trackInput form  {
    /* margin-bottom: 100px; */
    margin-top: -25px;
  }

  .tracking .heading h2 {
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 358px) {
  .trackInput form  {
    /* margin-bottom: 100px; */
    margin-top: -35px;
  }

  .tracking .heading h2 {
    font-size: 18px;
  }

  .tracking .heading p {
    font-size: 13px;
  }

  .tracking .trackInput input {
    width: 50vw;
  }

  .tracking .trackInput input {
    height: 40px;
  }

  .tracking .trackInput input {
    height: 40px;
  }

  .tracking a.tracking-btn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}