

.media-navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
  }
  
  .media-navbar {
    display : none;
  }
  
  .media-navbar a {
    font-family: "montserratarm";
    float: left;
    font-size: 13px;
    color: #333;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    /* height: 63px; */
    padding: 20px 16px;
    /* background-color: red; */
    box-sizing: border-box;
    outline: none;
  }

  .media-navbar .media-link {
    height: 63px;
    box-sizing: border-box;
  }

  .media-navbar .media-link:hover {
    border-top: 2px solid var(--greenColor);
    height: 62px;

  }
  
  .media-dropdown {
    float: left;
    overflow: hidden;

  }

  .media-dropdown button:hover {
    color: var(--greenColor);

  }
  
  .media-dropdown .media-dropbtn {
    font-family: "montserratarm-light";
    font-size: 13px;  
    /* border: none; */
    outline: none;
    color: #333;
    height: 63px;
    padding: 20px 16px;
    /* padding: 1.5rem .5rem; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;
  }

  .media-dropdown .media-dropbtn:hover {
    border-top: 2px solid var(--greenColor);
    height: 62px;
  }

  
  /* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */
  
  .media-dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 2px solid var(--greenColor);
  }
  
  .media-dropdown-content a:hover{
    color: var(--greenColor);
  }
  
  .media-dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    height: 40px;

    display: flex;
    align-items: center;
  }
  
  .media-dropdown-content a:hover {
    background-color: rgb(251, 251, 251);
  }
  
  .media-dropdown:hover .media-dropdown-content {
    display: block;

  }

  .media-dropdown-content img {
    width: 24px;
    margin-right: 10px;
  }

  /* MEDIA  */

  /* @media (max-width: 960px) {
    .media-navbar a {
      font-size: 12px;
      margin-bottom: -4px;
    }

    .media-navbar .media-dropbtn  {
      font-size: 12px;
    }
  }   */

  @media (max-width: 920px) {
    .media-navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* background-color:red; */
      position : absolute;
      top: 160px;
      left : 0;
      width : 100%;
      height: 515px;
    }

    /* .media-navbar .media-dropdown {
      text-align: left;
      
    } */

    .media-navbar .media-dropdown {
      width: 100%;  
      border-bottom: 1px solid #f8f8f8;
      text-align: left;
      
    }

    .media-navbar .media-dropdown-content {
      width: 100%;
    }

    .media-navbar .media-dropdown-content {
      border: none;
    }

    .media-navbar .media-dropdown-content a {
      border-bottom: 1px solid #f8f8f8;
    }

    .media-navbar .media-dropdown .media-dropbtn:hover {
      border: none;
    }

    .media-navbar .media-dropdown .last-dropbtn:hover .media-navbar {
      height: 515px;
    }

    .media-navbar .media-link {
      border-bottom: #f8f8f8;
    }

    .media-navbar .media-link:hover {
      border: none;
      color: var(--greenColor);
    }

  }  