.add-order {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
  position: fixed;
  display: block;
  font-family: "montserratarm";
  position: absolute;
  top: 0;
}
.add-order .add-order-container {
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  /* padding: 1rem; */
  border: 1px solid rgba(153, 153, 153, 0.314);
  background-color: white;
  position: relative;
  top: 10%;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.add-order .add-order-container .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 0.8rem;
  min-height: 16px;
}
.add-order .add-order-container .modal-header i {
  color: #999;
  cursor: pointer;
}
.add-order .add-order-container .modal-header i:hover {
  color: gray;
}
.add-order .add-order-container .modal-header h2 {
  font-family: "montserratarm-bold";
  padding-left: 12px;
  font-size: 24px;
}

.add-order .add-order-container .ordered-country {
  display: flex;
}
.add-order .add-order-container .ordered-country .order-country-flag {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-order .add-order-container .ordered-country .order-country-flag img {
  width: 3rem;
  cursor: pointer;
}

.add-order .order-shipping-method {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 15px auto;
}
.add-order .order-shipping-method h3,
.add-order .order-shipping-method i {
  color: #555;
  font-size: 14px;
}

.add-order .order-shipping-method h3 span {
  color: red;
}

.add-order .order-shipping-method .fa-plane {
  transform: rotate(-45deg);
}
.add-order .order-shipping-method label {
  color: gray;
}
.add-order .order-shipping-method label i {
  margin: 0 5px;
}
.add-order .order-receiver {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 20px auto;
}
.add-order .order-receiver {
  display: flex;
  flex-wrap: wrap;
}

.add-order .order-receiver h3 span {
  color: red;
}
.add-order .order-receiver h3 {
  color: #555;
  font-size: 14px;
}

.add-order .order-receiver select {
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 1rem;
  border-radius: 0.4rem;
  color: grey;
}

.add-order .order-group {
  width: 85%;
  margin: -15px auto;
}
.add-order .order-group #tracking {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 1rem;
  border-radius: 0.4rem;
  color: grey;
}
.add-order .order-group #tracking:focus {
  border: 2px solid black;
}
.add-order .order-group .order-group-total {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}

.add-order .order-group select,
.add-order .order-group input {
  border: 1px solid rgba(128, 128, 128, 0.3);
  padding: 1rem;
  border-radius: 0.4rem;
  color: grey;
  margin: 0.5rem 0;
  width: 23%;
}
.add-order .order-group input {
  margin: 0.5rem 0;
}

.add-order .order-group-total {
  display: flex;
  justify-content: space-between;
}
.add-order .order-group-total i {
  font-size: 12px;
  margin-top: 1rem;
}
.add-order .order-group-total input,
.add-order .order-group-total select {
  width: 30%;
}
.add-order textarea {
  height: 70px;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  padding: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 10px !important;
  margin-bottom: 1rem;
}
.add-order .order-add-file {
  display: flex;
  width: 85%;
  margin: 1rem auto;
}
.add-order .order-add-file label {
  padding: 5px 15px;
  border: dashed 2px #6f716f;
  border-radius: 6px !important;
  color: #6f716f;
  cursor: pointer;
  transition: 0.3s;
}
.add-order .order-add-file label input {
  display: none;
}
.add-order .order-add-file label i {
  margin-left: 0.3rem;
}
.add-order .order-footer-buttons {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0% auto;
}

.add-order .order-footer-buttons button {
  width: 48%;
  font-family: inherit !important;
  color: #000;
  padding: 15px 30px;
  margin-bottom: 1rem;
  font-size: 12px;
  text-transform: uppercase;
  background: #efefef;
  border-radius: 10px !important;
  border: none;
  cursor: pointer;
}
.add-order .order-footer-buttons .first-btn {
  color: white;
  background: var(--greenColor);
}
