* {
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  /* text-transform: capitalize; */
  text-decoration: none;
  /* transition: all 0.2s linear; */
  font-family: 'montserratarm';
}

.btn-1 {
  margin-top: 0;
  margin-right: 5px;
  color: white !important;
  border-radius: 6px !important;
  background-color: #5dba2f !important;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
  padding: 8px 13px;
  position: relative;
  background: #72c02c;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  
}

.btn-2 {
  margin-top: 0;
  color: white !important;
  border-radius: 6px !important;
  background-color: #f1c40f !important;
  font-size: 12px;
  cursor: pointer;
  font-weight: 400;
  padding: 8px 13px;
  position: relative;
  background: #72c02c;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
header .first-part {
  background: black;
  width: 100%;
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .first-part p {
  font-size: 13px;
  color: white;
}

header .first-part span {
  color: green;
}
header .second-part {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 2rem;
  background: #f4f4f4;
  font-size: 13px;
}
header .second-part .link {
  margin-top: 0.6rem;
}
header .second-part .link a {
  /* border-right: 1px solid black; */
  padding: 0 0 5px;
  margin: 0 5px;
  color: #222;
  letter-spacing: 0.1px;
  font-size: 11px;
  font-family: 'montserratarm';
}

header .second-part .link a:last-child {
  margin-left: 1.5rem;
}

header .second-part .link a:hover {
  color: #5dba2f;
  text-decoration: underline;
}
header .second-part .login-btn a {
  margin: 0.5rem 0.3rem;
}

header .second-part .login-btn a i {
  padding: 0 0.5rem;
  position: relative;
}
header .second-part img {
  position: absolute;
  margin-left: -1rem;
  width: 17px;
}

header .third-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

header .third-part img {
  height: 40px;
}

header .third-part {
  width: 100%;
  height: 4rem;
  border-bottom: solid rgb(136, 136, 136) 1px;
  display: flex;
  align-items: center;
}

header .third-part .logo {
  cursor: pointer;
}

header .third-part .logo .second {
  display: none;
}


header .third-part .nav a i {
  font-size: 1.5rem;
}
header .third-part .nav a i:hover {
  color: black;
}
header .third-part .nav a {
  padding: 0.2rem;
  margin-left: 0.2rem;
  font-size: 13px;
  color: black;
  cursor: pointer;
  font-family: 'montserratarm-light';
}

header .third-part .nav a:hover {
  color: #5dba2f;
  border-top: solid #5dba2f 2px;
  padding: 1.5rem .2rem;
}

header .third-part .hamburger {
  cursor: pointer;
  font-size: 1.8rem;
  display : none
}

header .third-part .calc-and-search a {
  padding: 1.5rem .5rem;
  margin-left: 0.2rem;
  color: black;
  cursor: pointer;
  font-family: 'montserratarm-light';
}

header .third-part .calc-and-search a:hover {
  color: #5dba2f;
  border-top: solid #5dba2f 2px;
}

header .third-part .calc-and-search a i {
  font-size: 20px;
}

header .third-part .right {
  display: flex;
}
/* MEDIA  */

@media (max-width: 960px) {
  header .third-part .nav a {
    padding: 0.1rem;
    margin-left: 0.1rem;
  }

  header .third-part .logo .second {
    display: inline;
  }

  header .third-part .logo .first {
    display: none;
  }
}

@media (max-width: 920px) {
  header .third-part .right .nav{
    display : none;
  }

  header .third-part  {
    padding: 0 25px;
  }

  /* Add className='active' to <nav>, for navbar */
  header .third-part .right nav.active {
    display : flex;
    flex-direction: column;
    position: absolute;
    /* margin-right: 1000px; */
    left: 0;
    top: 160px;
    width: 100%;
    /* right: 1000px; */
    background-color: white;
  }
  
  header .third-part .right nav.active a {
    padding: 20px 25px;
    font-size: 16px;
    /* font-family: 'montserratarm'; */
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    text-align: left;
  }

  header .third-part .hamburger {
    display : inline;
  }
}

@media (max-width: 772px) {
  header .second-part  {
    flex-wrap: wrap;
    justify-content: center;
  }

  header .third-part .right nav.active {
    top: 185px;
  }
}

@media (max-width: 530px) {
  header .first-part  {
    padding: 35px 20px;
  }

  header .third-part .nav a i {
    font-size: 1.2rem;
  }
}

@media (max-width: 412px) {
  header .third-part .right nav.active {
    top: 185px;
  }
}

@media (max-width: 354px) {
  header .second-part .link {
    display: none;
  }

  header .second-part .login-btn {
    padding: 10px;
  }

  .btn-1, .btn-2 {
    padding: 15px 10px;
  }
}

@media (max-width: 320px) {
  .login-btn {
    display: flex;
    flex-wrap: nowrap;
  }

}
