.smart-wall-page {
    width: 85%;
    margin: 50px auto;
}

.smart-wall-page .smart-wall-main-image {
    width: 100%;
    margin-bottom: 50px;
}

.smart-wall-page .smart-wall-page-content h2 {
    margin: 40px 0;
}

.smart-wall-page .smart-wall-page-content p, 
.smart-wall-page .smart-wall-page-content ol li {
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 22px;
    color: gray;
    text-align: left;
    margin-bottom: 10px;
}

.smart-wall-page .smart-wall-page-content ol .smart-wall-usage-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.smart-wall-page .smart-wall-page-content ol .smart-wall-usage-images img {
    width: 48%;
    margin-bottom: 50px;
}

.smart-wall-page iframe {
    width: 100%;
}

.smart-wall-page .smart-wall-press-unit {
    width: 100%;
    border: 1.5px solid black;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px;
    margin: 50px 0;
}

.smart-wall-page .smart-wall-press-unit .smart-wall-press-list {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.smart-wall-page .smart-wall-press-unit .smart-wall-press-list .smart-wall-press{
    width: 15%;
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.smart-wall-page .smart-wall-press-unit .smart-wall-press-list .smart-wall-press img{
    width: 100%;
}